* {
    background-color: #1c1c1c;
}
nav {
    padding-left: 75vw;
    margin-top: 5vh;
}
#am {
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}
.greeting {
    margin-top: 35vh;
    color: white;
    font-family: 'Rubik', sans-serif;
    padding-left: 15vw;
    font-size: 1.5em;
}
h1 {
    padding-left: 20px;
}
#btn-container{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-left: 190px;
    position: absolute;
    overflow: hidden;
}
#btn-container:before{
    content: "";
    height: 300%;
    width: 300%;
    position: absolute;
    left: -100%;
    top: -100%;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    animation: spin 3s infinite;
}
@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}

#btn-container:after {
    content: "My Work";
    position: absolute;
    background-color: #1c1c1c;
    height: 90%;
    width: 96%;
    border-radius: 50px;
    top: 5.5%;
    left:2%;
    display: grid;
    place-items: center;
}

#mw{
    text-decoration: none;
    color: white;
}
#mw:hover{
    transition: 0.3s;
    opacity: 0.7;
}
#desc{
    opacity: 0.7;
}
